########### RETRIEVING ANNUAL FINANCIAL DATA ###########

In [ ]:
# Import required libraries
import yfinance as yf
import pandas as pd
import eikon as ek
from datetime import datetime

In [ ]:
# Define a list of company ticker (compatitable with EIKON)
tickers_eikon = [
    "1605.T", "1928.T", "4063.T", "4091.T", "4503.T", "4568.T", "4578.T", "4612.T", 
    "4661.T", "5020.T", "6098.T", "6301.T", "6367.T", "6501.T", "6594.T", "6861.T",
    "6954.T", "6971.T", "6981.T", "7741.T", "8002.T", "8015.T", "8031.T", "8035.T",
    "8053.T", "8630.T", "8830.T", "9020.T", "9022.T", "9101.T", "7203.T", "8306.T",
    "8316.T", "6758.T", "7203.T", "000100.KS", "000270.KS", "000660.KS", "001040.KS", 
    "003495.KS", "003670.KS", "005930.KS", "010130.KS", "010950.KS", "011200.KS", 
    "012330.KS", "012450.KS", "020560.KS", "021240.KS", "024110.KS", "034020.KS", 
    "035250.KS", "035420.KS", "035720.KS", "036460.KS", "047810.KS", "068270.KS", 
    "086790.KS", "096775.KS", "196170.KQ", "207940.KS", "241560.KS", "259960.KS",
    "005380.KS", "105560.KS", "015760.KS", "005490.KS", "055550.KS", "017670.KS",
    "316140.KS", "SEAT.SI", "CAPD.SI", "SINA.SI", "IFAS.SI", "RVHL.SI", "WLIL.SI",
    "FRAE.SI", "JCYC.SI", "CTDM.SI", "CMLT.SI", "CMDG.SI", "SIAL.SI", "NETL.SI", 
    "DBSM.SI", "GAGR.SI", "GENS.SI", "CAPS.SI", "KASA.SI", "MAPI.SI", "HPHT.SI", 
    "OCBC.SI", "SHEN.SI", "STEG.SI", "PARA.SI", "SUNT.SI", "HPAR.SI", "SIND.SI", 
    "UOBH.SI", "UTOS.SI", "SCIL.SI", "VENM.SI", "OLAG.SI", "SPOS.SI", "YNLG.SI", 
    "STEL.SI", "ABB.NS", "ADNA.NS", "APSE.NS", "ADAN.NS", "ABUJ.NS", "ADAG.NS", 
    "BAJE.NS", "CGPO.NS", "COAL.NS", "DLF.NS", "EICH.NS", "GAIL.NS", "GOCP.NS", 
    "GRAS.NS", "HIAE.NS", "HDBK.NS", "IHTL.NS", "INGL.NS", "IOC.NS", "JNSP.NS", 
    "JSWE.NS", "LART.NS", "LUPN.NS", "MAHM.NS", "MRTI.NS", "NTPC.NS", "OEBO.NS", 
    "ONGC.NS", "PGRD.NS", "RELI.NS", "SHCM.NS", "SUN.NS", "TCS.NS", "ULTC.NS", 
    "VDAN.NS", "AOT.BK", "BA.BK", "BANPU.BK", "BBL.BK", "BCT.BK", "BDMS.BK", 
    "BEM.BK", "BGRIM.BK", "BJC.BK", "BTS.BK", "CENTEL.BK", "CPALL.BK", "CPF.BK", 
    "CPN.BK", "DELTA.BK", "EA.BK", "EGCO.BK", "GPSC.BK", "GULF.BK", "INTUCH.BK", 
    "IVL.BK", "KBANK.BK", "KTB.BK", "KTC.BK", "LH.BK", "MINT.BK", "PTTEP.BK", 
    "PTT_n.BK", "RATCH.BK", "SCC.BK", "TISCO.BK", "TOP.BK", "TRUE.BK", "TTB.BK", 
    "WHA.BK", "000333.SZ", "000651.SZ", "000725.SZ", "002352.SZ", "002415.SZ", 
    "002475.SZ", "002594.SZ", "0267.HK", "0390.HK", "0788.HK", "0857.HK", "0883.HK", 
    "1398.HK", "1766.HK", "300124.SZ", "300274.SZ", "600028.SS", "600104.SS", 
    "600276.SS", "600309.SS", "600900.SS", "601012.SS", "601088.SS", "601111.SS", 
    "601127.SS", "601628.SS", "601633.SS", "601668.SS", "601800.SS", "601899.SS", 
    "601919.SS", "0241.HK", "600519.SS", "601288.SS", "0700.HK"
    ]

In [ ]:
# Set your Eikon API key - DO NOT FORGOT TO HIDE API KEY WHEN SHARING!
ek.set_app_key('insert_your_API_key')

In [ ]:
# Define the data items we want to retrieve
fields = ['TR.TotalAssets', 'TR.TotalEquity']

# Set the date range
start_date = '2019-01-01'
end_date = '2024-01-01'

In [ ]:
# Retrieve the data
data, err = ek.get_data(instruments=tickers_eikon,
                        fields=fields,
                        parameters={
                            'SDate': start_date,
                            'EDate': end_date,
                            'FRQ': 'FY'  # Annual frequency
                        })

In [ ]:
# Convert the data to a more usable format
df = pd.DataFrame(data)

In [ ]:
print(df.columns)

# As we can see, there is no 'date' column...

In [ ]:
# Retrieve annual data using `ek.get_timeseries` (with Date column)
# THIS TAKES AROUND 2 MINUTES TO RUN
dfs = []
for company in tickers_eikon:
    try:
        annual_financials = ek.get_timeseries(company, fields=fields, start_date=start_date, end_date=end_date, interval='yearly')
        annual_financials['Company'] = company
        dfs.append(annual_financials)
    except Exception as e:
        print(f"Error retrieving data for {company}: {e}")

In [ ]:
# Combine all data into a single DataFrame
if dfs:
    annual_financials = pd.concat(dfs).reset_index()
    print(annual_financials)
else:
    print("No data retrieved.")

In [ ]:
# Rename columns in the new DataFrame to be identical with the previous one
annual_financials.rename(columns={
    'TR.TOTALASSETS': 'Total Assets',
    'TR.TOTALEQUITY': 'Total Equity'
    }, inplace=True)

In [ ]:
# Display the updated DataFrame
print(annual_financials)

In [ ]:
# Replace values in df with values from annual_financials
annual_financials['Total Assets'] = df['Total Assets'].values
annual_financials['Total Equity'] = df['Total Equity'].values

In [ ]:
# Display the updated DataFrame
print(annual_financials.head())

In [ ]:
# Insert column to label the year
annual_financials['Date'] = pd.to_datetime(annual_financials['Date'])

annual_financials['Year'] = annual_financials['Date'].dt.year

In [ ]:
# Insert column for the financial leverage equation
annual_financials['Financial Leverage'] = annual_financials['Total Assets'] / annual_financials['Total Equity']

In [ ]:
# Reorder the columns in the desired order
annual_financials = annual_financials[['Date', 'Year', 'Company', 'Total Assets', 'Total Equity', 'Financial Leverage']]

In [ ]:
# Convert column names
annual_financials.columns = annual_financials.columns.str.lower().str.replace(' ', '_')

In [ ]:
# Display the updated DataFrame
print(annual_financials)

########### RETRIEVING STOCK CHARACTERISTICS ###########

In [ ]:
# Define a list of company tickers (compatible with Yahoo Finance)
# All of the companies are the same and in the same order as the previous ticker list...
# The ticker names have just been changed for compatability
tickers = [
    "1605.T", "1928.T", "4063.T", "4091.T", "4503.T", "4568.T", "4578.T",
    "4612.T", "4661.T", "5020.T", "6098.T", "6301.T", "6367.T", "6501.T", 
    "6594.T", "6861.T", "6954.T", "6971.T", "6981.T", "7741.T", "8002.T", 
    "8015.T", "8031.T", "8035.T", "8053.T", "8630.T", "8830.T", "9020.T",
    "9022.T", "9101.T", "HMC", "MUFG", "SMFG", "SONY", "TM", "000100.KS",
    "000270.KS", "000660.KS", "001040.KS", "003495.KS", "003670.KS", "005930.KS",
    "010130.KS", "010950.KS", "011200.KS", "012330.KS", "012450.KS", "020560.KS",
    "021240.KS", "024110.KS", "034020.KS", "035250.KS", "035420.KS", "035720.KS",
    "036460.KS", "047810.KS", "068270.KS", "086790.KS", "096775.KS", "196170.KQ",
    "207940.KS", "241560.KS", "259960.KS", "HYMTF", "KB", "KEP", "PKX", 
    "SHG", "SKM", "WF", "5E2.SI", "A17U.SI", "A26.SI", "AIY.SI", "AP4.SI",
    "F34.SI", "BUOU.SI", "C07.SI", "C09.SI", "C38U.SI", "C52.SI", "C6L.SI", 
    "CJLU.SI", "D05.SI", "E5H.SI", "G13.SI", "HMN.SI", "K71U.SI", 
    "ME8U.SI", "NS8U.SI", "O39.SI", "OV8.SI", "S63.SI", "SK6U.SI",
    "T82U.SI", "H02.SI", "U06.SI", "U11.SI", "U14.SI", "U96.SI", "V03.SI", "VC2.SI",
    "S08.SI", "Z25.SI", "Z74.SI", "ABB.NS", "ADANIGREEN.NS", "ADANIPORTS.NS", "ADANIPOWER.NS",
    "AMBUJACEM.NS", "ATGL.NS", "BEL.NS", "CGPOWER.NS", "COALINDIA.NS", "DLF.NS",
    "EICHERMOT.NS", "GAIL.NS", "GODREJPROP.NS", "GRASIM.NS", "HAL.NS", "HDB",
    "INDHOTEL.NS", "INDIGO.NS", "IOC.NS", "JINDALSTEL.NS", "JSWENERGY.NS", "LT.NS",
    "LUPIN.NS", "M&M.NS", "MARUTI.NS", "NTPC.NS", "OBEROIRLTY.NS", "ONGC.NS",
    "POWERGRID.NS", "RELIANCE.NS", "SHREECEM.NS", "SUNPHARMA.NS", "TCS.NS",
    "ULTRACEMCO.NS", "VEDL.NS", "AOT.BK", "BA.BK", "BANPU.BK", "BBL.BK", "BCT.BK",
    "BDMS.BK", "BEM.BK", "BGRIM.BK", "BJC.BK", "BTS.BK", "CENTEL.BK", "CPALL.BK",
    "CPF.BK", "CPN.BK", "DELTA.BK", "EA.BK", "EGCO.BK", "GPSC.BK", "GULF.BK",
    "INTUCH.BK", "IVL.BK", "KBANK.BK", "KTB.BK", "KTC.BK", "LH.BK", "MINT.BK",
    "PTTEP.BK", "PTT-R.BK", "RATCH.BK", "SCC.BK", "TISCO.BK", "TOP.BK", "TRUE.BK",
    "TTB.BK", "WHA.BK", "000333.SZ", "000651.SZ", "000725.SZ", "002352.SZ", 
    "002415.SZ", "002475.SZ", "002594.SZ", "0267.HK", "0390.HK", "0788.HK",
    "0857.HK", "0883.HK", "1398.HK", "1766.HK", "300124.SZ", "300274.SZ",
    "600028.SS", "600104.SS", "600276.SS", "600309.SS", "600900.SS", "601012.SS",
    "601088.SS", "601111.SS", "601127.SS", "601628.SS", "601633.SS", "601668.SS",
    "601800.SS", "601899.SS", "601919.SS", "BABA", "600519.SS", "601288.SS", "TCEHY"
           ]

In [ ]:
# Set date range
start_date = datetime(2019, 1, 1)
end_date = datetime(2023, 12, 31)

In [ ]:
# Create an empty list to store the data
data_list = []

In [ ]:
# THIS TAKES ABOUT TWO MINUTES TO RUN 
for ticker in tickers:
    # Download stock data
    stock = yf.Ticker(ticker)
    hist = stock.history(start=start_date, end=end_date)
    
    # Get company info
    info = stock.info
    industry = info.get('industry', 'N/A')
    sector = info.get('sector', 'N/A')
    market_cap = info.get('marketCap', 'N/A')
    
    # Process the data
    for date, row in hist.iterrows():
        data_list.append({
            'date': date.strftime('%Y-%m-%d'),
            'year': date.year,
            'company': ticker,
            'close': row['Close'],
            'volume': row['Volume'],
            'market_capitalisation' : market_cap,
            'industry': industry,
            'sector': sector
        })

In [ ]:
# Create a DataFrame from the list
result = pd.DataFrame(data_list)

In [ ]:
# Display the first few rows of the result
print(result.head(20))

########### CONVERT TO ANNUAL MARKET CAPITALISATION ###########

In [ ]:
# Convert the 'date' column to datetime
result['date'] = pd.to_datetime(result['date'])

# Set 'date' as the index
result.set_index('date', inplace=True)

In [ ]:
# Group by company and resample to yearly frequency, taking the last market cap of each year
annual_marketcap = result.groupby('company').resample('Y')['market_capitalisation'].last().reset_index()

In [ ]:
# Extract year from the date
annual_marketcap['year'] = annual_marketcap['date'].dt.year

In [ ]:
# Reorder columns to match the desired output
annual_marketcap = annual_marketcap[['year', 'company', 'market_capitalisation']]

In [ ]:
# Reset the index if needed
annual_marketcap.reset_index(drop=True, inplace=True)

In [ ]:
# Merge annual_marketcap with annual_financials
annual_financials = annual_financials.merge(annual_marketcap, on=['year', 'company'], how='left')

In [ ]:
# Display the first few rows of the updated annual_financials DataFrame
print(annual_financials.head())

########### CONVERT TO MONTHLY RETURNS ###########

In [ ]:
# Group by company and resample to monthly frequency, taking the last price of each month
monthly_prices = result.groupby('company').resample('M')['close'].last().reset_index()

In [ ]:
# Extract year from the date
monthly_prices['year'] = monthly_prices['date'].dt.year

In [ ]:
# Reorder columns to match the desired output
monthly_prices = monthly_prices[['date', 'year', 'company', 'close']]

In [ ]:
# Reset the index
monthly_prices.reset_index(drop=True, inplace=True)

In [ ]:
# Display the first few rows of the new DataFrame
print(monthly_prices.head())

In [ ]:
# Import necessary library 
import numpy as np

In [ ]:
# Ensure 'date' is set as the index
monthly_prices.set_index('date', inplace=True)

In [ ]:
# Sort the DataFrame by company and date
monthly_prices = monthly_prices.sort_values(['company', 'date'])

In [ ]:
# Calculate returns
monthly_prices['returns'] = monthly_prices.groupby('company')['close'].transform(lambda x: np.log(x) - np.log(x.shift(1)))

In [ ]:
# Reset the index
monthly_prices.reset_index(inplace=True)

In [ ]:
# Create a new DataFrame for monthly returns
monthly_returns = monthly_prices[['date', 'year', 'company', 'returns']].copy()

In [ ]:
# Remove the first row for each company (which will have NaN return)
monthly_returns = monthly_returns.groupby('company').apply(lambda x: x.iloc[1:]).reset_index(drop=True)

In [ ]:
# Display the first few rows of the new DataFrame
print(monthly_returns.head())

########### RETRIEVING COMPANY HQ ADDRESS ###########

In [ ]:
# Downloading the HQ Data for all of the tickers
def get_company_hq(ticker):
    try:
        stock = yf.Ticker(ticker)
        info = stock.info
        if 'city' in info and 'state' in info and 'country' in info:
            return f"{info['city']}, {info['state']}, {info['country']}"
        elif 'city' in info and 'country' in info:
            return f"{info['city']}, {info['country']}"
        else:
            return None
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")
        return None

In [ ]:
# Fetch HQ Address for each company
hq_list = []
for ticker in tickers:
    hq_address = get_company_hq(ticker)
    hq_list.append({"Ticker": ticker, "HQ Address": hq_address})

In [ ]:
# Convert to DataFrame
df1 = pd.DataFrame(hq_list)

In [ ]:
# Function to split HQ Address into City and Country
def split_hq_address(hq_address):
    if hq_address:
        parts = hq_address.split(', ')
        city = parts[0]
        country = parts[-1]  # Assuming the country is always the last part
        return city, country
    return None, None

In [ ]:
# Apply the function to split the HQ Address into City and Country columns
df1['City'], df1['Country'] = zip(*df1['HQ Address'].apply(split_hq_address))

In [ ]:
# Output the dataframe with additional columns
df1.head()

########### RETRIEVING LATITUDE AND LONGITUDE ###########

In [ ]:
# Import the required libraries
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time

In [ ]:
# Initialise Nominatim API
geolocator = Nominatim(user_agent="MyApp")

In [ ]:
# Function to get latitude and longitude from a city name with timeout
def get_lat_lon(city):
    try:
        location = geolocator.geocode(city, timeout=10)  # Add a timeout of 10 seconds
        if location:
            return location.latitude, location.longitude
        else:
            print(f"Location not found for: {city}")
            return None, None
    except GeocoderTimedOut:
        print(f"Timeout occurred for: {city}")
        return None, None
    except Exception as e:
        print(f"Error fetching geolocation for {city}: {e}")
        return None, None

In [ ]:
# Lists to store latitude and longitude
latitudes = []
longitudes = []

In [ ]:
# THIS TAKE AROUND 4 MINUTES TO RUN
# Loop through the DataFrame to get lat/lon
for index, row in df1.iterrows():
    city = row['City']
    print(f"Processing city: {city}")  # Log progress
    lat, lon = get_lat_lon(city)  # Use only the City column
    latitudes.append(lat)
    longitudes.append(lon)
    time.sleep(1)  # Add 1-second delay between requests

In [ ]:
# Add the latitudes and longitudes to the DataFrame
df1['Latitude'] = latitudes
df1['Longitude'] = longitudes

In [ ]:
# Print the updated DataFrame
df1.head()

########### RETRIEVING ACTUAL WEATHER DATA ###########

In [ ]:
# Import required libraries
import openmeteo_requests
import requests_cache
from retry_requests import retry

In [ ]:
# Setup the Open-Meteo API client with caching and retries
cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

In [ ]:
# Define the date range for historical weather data
start_date = "2019-01-01"
end_date = "2023-12-31"

In [ ]:
# Initialize a list to store the results
weather_data = []

In [ ]:
# THIS TAKES AROUND TWO MINUTES TO RUN
# Loop through each row in the DataFrame
for index, row in df1.iterrows():
    ticker = row['Ticker']
    city = row['City']
    country = row['Country']
    latitude = row['Latitude']
    longitude = row['Longitude']
    
    if pd.notna(latitude) and pd.notna(longitude):  # Ensure valid latitude and longitude
        print(f"Fetching data for Ticker: {ticker}, City: {city}, Country: {country}")

        # Set API parameters for the current location
        url = "https://archive-api.open-meteo.com/v1/archive"
        params = {
            "latitude": latitude,
            "longitude": longitude,
            "start_date": start_date,
            "end_date": end_date,
            "daily": "temperature_2m_max", 
            "timezone": "auto"
        }

        try:
            # Fetch the weather data for the current location
            responses = openmeteo.weather_api(url, params=params)
            response = responses[0]
            
            # Extract daily weather data
            daily = response.Daily()
            daily_temperature_2m_max = daily.Variables(0).ValuesAsNumpy()
            
            # Create a dictionary for each date
            daily_dates = pd.date_range(
                start=pd.to_datetime(daily.Time(), unit="s", utc=True),
                end=pd.to_datetime(daily.TimeEnd(), unit="s", utc=True),
                freq=pd.Timedelta(seconds=daily.Interval()),
                inclusive="left"
            )
            
            for i, date in enumerate(daily_dates):
                weather_data.append({
                    "Ticker": ticker,
                    "City": city,
                    "Country": country,
                    "Latitude": latitude,
                    "Longitude": longitude,
                    "Date": date,
                    "Temperature_Max": daily_temperature_2m_max[i],
                })

        except Exception as e:
            print(f"Error fetching data for {ticker} ({city}, {country}): {e}")

        time.sleep(0.5) # To prevent breaking API limit use

In [ ]:
# Convert the list of dictionaries to a DataFrame
weather_df = pd.DataFrame(weather_data)

In [ ]:
# Sort the DataFrame by Ticker and Date for panel structure
weather_df = weather_df.sort_values(by=["Ticker", "Date"]).reset_index(drop=True)

In [ ]:
# Convert column names
weather_df.columns = weather_df.columns.str.lower().str.replace(' ', '_')

In [ ]:
# Rename column name
weather_df = weather_df.rename(columns={'ticker': 'company'})

In [ ]:
# Print the weather DataFrame
weather_df.head()

########### IDENTIFY EXTREME DAYS PER MONTH ###########

In [ ]:
# Add the 'extreme' column
weather_df['extreme'] = ((weather_df['temperature_max'] > 30) | (weather_df['temperature_max'] < 0)).astype(int)

In [ ]:
# Convert 'date' to datetime
weather_df['date'] = pd.to_datetime(weather_df['date'])

In [ ]:
# Extract year and month from the Date
weather_df['year'] = weather_df['date'].dt.year
weather_df['month'] = weather_df['date'].dt.month

In [ ]:
# Group by Company, Year, and Month, then sum the 'extreme' column
extreme_days_df = weather_df.groupby(['company', 'year', 'month'])['extreme'].sum().reset_index()

In [ ]:
# Rename the sum column to 'extreme_days'
extreme_days_df = extreme_days_df.rename(columns={'extreme': 'extreme_days'})

In [ ]:
# Sort the DataFrame
extreme_days_df = extreme_days_df.sort_values(['company', 'year', 'month'])

In [ ]:
# Display the first few rows of the new DataFrame
print(extreme_days_df.head())

########### CREATION OF SQL DATABASE ###########

In [ ]:
# Import required library
import sqlite3

In [ ]:
# Create a connection to the SQLite database (it will create the database if it doesn't exist)
con = sqlite3.connect('ICM406_database_trial2.db')

In [ ]:
# Create a cursor object to interact with the database
cursor = con.cursor()

####### Annual Financial Data

In [ ]:
# Create the Financials table to store the financial data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Financials (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date DATE NOT NULL,
        year INTEGER NOT NULL,
        company TEXT NOT NULL,
        total_assets REAL,
        total_equity REAL,
        financial_leverage REAL,
        market_capitalisation INTEGER
    );
''')

In [ ]:
# Insert the data from the DataFrame into the Financials table
annual_financials.to_sql('Financials', con, if_exists='append', index=False)

In [ ]:
# Commit the transaction
con.commit()

In [ ]:
# Verify the data by querying the database
query_result_financials = pd.read_sql_query("SELECT * FROM Financials", con)
print(query_result_financials)

In [ ]:
#### Summary Stats of Financials table

# Define the columns you want to analyze
columns_to_analyse = ['financial_leverage', 'market_capitalisation']

In [ ]:
# Create a list to store results
financials_analysis = []

for column in columns_to_analyse:
    query = f"""
    SELECT
        '{column}' AS column_name,
        AVG({column}) AS mean,
        MIN({column}) AS min,
        MAX({column}) AS max,
        SUM({column}) AS sum,
        AVG({column} * {column}) - AVG({column}) * AVG({column}) AS variance
    FROM Financials
    WHERE {column} IS NOT NULL
    """

    df2 = pd.read_sql_query(query, con)
    df2['std_dev'] = np.sqrt(df2['variance'])
    financials_analysis.append(df2)

In [ ]:
# Combine all results
financials_results = pd.concat(financials_analysis, ignore_index=True)

In [ ]:
# Display the results
print(financials_results)

####### Stock Characteristics

In [ ]:
# Create the StockData table to store stock data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS StockData (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        year INTEGER,
        company TEXT NOT NULL,
        close REAL,
        volume INTEGER
    );
''')

In [ ]:
# Remove Unecessary Columns
result1 = result.drop(['sector', 'industry', 'market_capitalisation'], axis=1)

In [ ]:
result1 = result1.dropna()

In [ ]:
# Insert the data from the DataFrame into the StockData table
result1.to_sql('StockData', con, if_exists='append', index=False)

In [ ]:
# Commit the transaction
con.commit()

In [ ]:
# Verify the data by querying the StockData table
query_result_stockdata = pd.read_sql_query("SELECT * FROM StockData", con)
print(query_result_stockdata)

In [ ]:
#### Summary Stats of the StockData Table

# Define the columns you want to analyze
columns_to_analyse1 = ['close', 'volume']

In [ ]:
# Create a list to store results
stockdata_analysis = []

In [ ]:
for column in columns_to_analyse1:
    query = f"""
    SELECT
        '{column}' AS column_name,
        AVG({column}) AS mean,
        MIN({column}) AS min,
        MAX({column}) AS max,
        SUM({column}) AS sum,
        AVG({column} * {column}) - AVG({column}) * AVG({column}) AS variance
    FROM StockData
    WHERE {column} IS NOT NULL
    """

    df3 = pd.read_sql_query(query, con)
    df3['std_dev'] = np.sqrt(df3['variance'])
    stockdata_analysis.append(df3)

In [ ]:
# Combine all results
stockdata_results = pd.concat(stockdata_analysis, ignore_index=True)

In [ ]:
# Display the results
print(stockdata_results)

####### Company Information

In [ ]:
# Create the CompanyData table to store company data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS CompanyData (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        company TEXT NOT NULL,
        country TEXT NOT NULL,
        city TEXT NOT NULL,
        latitude REAL,
        longitude REAL
    );
''')

In [ ]:
company_data = weather_df[['company', 'city', 'country', 'latitude', 'longitude']]

In [ ]:
# Insert the data from the DataFrame into the CompanyData table
company_data.to_sql('CompanyData', con, if_exists='append', index=False)

In [ ]:
# Commit the transaction
con.commit()

In [ ]:
# Verify the data by querying the CompanyData table
query_result_companydata = pd.read_sql_query("SELECT * FROM CompanyData", con)
print(query_result_companydata)

####### Weather

In [ ]:
# Create the WeatherData table to store weather data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS WeatherData (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date DATE NOT NULL,
        company TEXT NOT NULL,
        country TEXT NOT NULL,
        temperature_max REAL,
        extreme REAL
    );
''')

In [ ]:
# Keep Necessary Columns
weather_table = weather_df[['date', 'company', 'country', 'temperature_max', 'extreme']]

In [ ]:
# Insert the data from the DataFrame into the WeatherData table
weather_table.to_sql('WeatherData', con, if_exists='append', index=False)

In [ ]:
# Commit the transaction
con.commit()

In [ ]:
# Verify the data by querying the WeatherData table
query_result_weatherdata = pd.read_sql_query("SELECT * FROM WeatherData", con)
print(query_result_weatherdata)

In [ ]:
#### Summary Stats of this Table

# Define the columns you want to analyse
columns_to_analyse2 = ['temperature_max', 'extreme']

In [ ]:
# Create a list to store results
weatherdata_analysis = []

In [ ]:
for column in columns_to_analyse2:
    query = f"""
    SELECT
        '{column}' AS column_name,
        AVG({column}) AS mean,
        MIN({column}) AS min,
        MAX({column}) AS max,
        SUM({column}) AS sum,
        AVG({column} * {column}) - AVG({column}) * AVG({column}) AS variance
    FROM WeatherData
    WHERE {column} IS NOT NULL
    """

    df4 = pd.read_sql_query(query, con)
    df4['std_dev'] = np.sqrt(df4['variance'])
    weatherdata_analysis.append(df4)

In [ ]:
# Combine all results
weatherdata_results = pd.concat(weatherdata_analysis, ignore_index=True)

In [ ]:
# Display the results
print(weatherdata_results)

In [ ]:
# Close the database connection
con.close()

########### SUMMARY STATISTICS OF RETURNS ###########

In [ ]:
# Summary of the full dataset
monthly_returns['returns'].describe()

####### Add country column to monthly_returns to be able to sort by country

In [ ]:
# Assuming weather_data has 'country' and 'company' columns
company_country_map = weather_df[['company', 'country']].drop_duplicates().set_index('company')['country']

In [ ]:
# Add the country column to monthly_returns
monthly_returns['country'] = monthly_returns['company'].map(company_country_map)

In [ ]:
# This shows the dataframe with the country column
monthly_returns.head()

In [ ]:
# Define the low-risk countries
low_risk_countries = ['Japan', 'South Korea', 'Singapore']

# Create the low_risk DataFrame
low_risk = monthly_returns[monthly_returns['country'].isin(low_risk_countries)][['date', 'company', 'country', 'returns']]

# Create the high_risk DataFrame
high_risk = monthly_returns[~monthly_returns['country'].isin(low_risk_countries)][['date', 'company', 'country', 'returns']]

In [ ]:
# Display the first few rows of each DataFrame
print("High Risk DataFrame:")
print(high_risk.head())

print("\nLow Risk DataFrame:")
print(low_risk.head())

In [ ]:
# HIGH

print("High Risk Summary:")
print(high_risk['returns'].describe())

print("\nHigh Risk Skewness:")
print(high_risk['returns'].skew())

print("\nHigh Risk Kurtosis:")
print(high_risk['returns'].kurt())

In [ ]:
# LOW

print("Low Risk Summary:")
print(low_risk['returns'].describe())

print("\nLow Risk Skewness:")
print(low_risk['returns'].skew())

print("\nLow Risk Kurtosis:")
print(low_risk['returns'].kurt())

####### Visualisation of returns volatility

In [ ]:
# Import required libraries
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [ ]:
high_risk = high_risk.sort_values('date')
low_risk = low_risk.sort_values('date')

In [ ]:
plt.figure(figsize=(12, 6))
plt.scatter(high_risk['date'], high_risk['returns'], label='High-Risk', color='red', alpha=0.5, s=10)
plt.scatter(low_risk['date'], low_risk['returns'], label='Low-Risk', color='green', alpha=0.5, s=10)

plt.xlabel('Date')
plt.ylabel('Stock Returns')
plt.title('Comparison of Log Returns')
plt.legend()
plt.grid(True, alpha=0.3)

ax = plt.gca()
ax.xaxis.set_major_locator(mdates.YearLocator())
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))

plt.gcf().autofmt_xdate(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(high_risk['date'], high_risk['returns'], label='High-Risk', color='red', linestyle=':', marker='.', markersize=2)
plt.plot(low_risk['date'], low_risk['returns'], label='Low-Risk', color='green', linestyle=':', marker='.', markersize=2)

plt.xlabel('Date')
plt.ylabel('Stock Returns')
plt.title('Comparison of Log Returns')
plt.legend()
plt.grid(True, alpha=0.3)

ax = plt.gca()
ax.xaxis.set_major_locator(mdates.YearLocator())
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))

plt.gcf().autofmt_xdate(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Combine the two DataFrame's log returns
combined_data = pd.concat([monthly_returns['date'], high_risk['returns'], low_risk['returns']], axis=1)
combined_data.columns = ['date', 'high_risk_returns', 'low_risk_returns']

####### Visualisation of the distribution of returns

In [ ]:
# Create the KDE plot
plt.figure(figsize=(12, 6))
sns.kdeplot(data=high_risk['returns'], label='High Risk', color='red', shade=True)
sns.kdeplot(data=low_risk['returns'], label='Low Risk', color='green', shade=True)

# Styling improvements
plt.title('Distribution of Returns: Risk Comparison', fontsize=16, fontweight='bold')
plt.xlabel('Returns', fontsize=12)
plt.ylabel('Density', fontsize=12)
plt.grid(True, linestyle='--', linewidth=0.5, alpha=0.7)
plt.legend(shadow=True, frameon=True)

plt.tight_layout()
plt.show()

########### PREPARATION OF REGRESSION DATA ###########

In [ ]:
# Prepare annual_financials for merging
annual_financials['date'] = pd.to_datetime(annual_financials['date'])
annual_financials['year'] = annual_financials['date'].dt.year

In [ ]:
# Create a date range for each year in annual_financials
date_ranges = annual_financials.apply(lambda row: pd.date_range(start=f"{row['year']}-01-01", end=f"{row['year']}-12-31", freq='M'), axis=1)
annual_financials_expanded = annual_financials.loc[annual_financials.index.repeat(date_ranges.str.len())].reset_index(drop=True)
annual_financials_expanded['date'] = [date for dates in date_ranges for date in dates]

In [ ]:
# Merge annual_financials_expanded with monthly_returns
regression_data = pd.merge(monthly_returns[['date', 'year', 'company', 'returns']], 
                           annual_financials_expanded[['date', 'year', 'company', 'financial_leverage', 'market_capitalisation']], 
                           on=['date', 'year', 'company'], 
                           how='left')

In [ ]:
# Merge with extreme_days_df
regression_data = pd.merge(regression_data, 
                           extreme_days_df[['year', 'month', 'company', 'extreme_days']], 
                           left_on=['year', regression_data['date'].dt.month, 'company'], 
                           right_on=['year', 'month', 'company'], 
                           how='left')

In [ ]:
# Drop unnecessary columns and reorder
regression_data = regression_data[['date', 'year', 'company', 'returns', 'extreme_days', 'financial_leverage', 'market_capitalisation']]

In [ ]:
# Display the first few rows of the new DataFrame
print(regression_data.head())

In [ ]:
# Create the 'country' column
company_country_map1 = weather_df[['company', 'country']].drop_duplicates().set_index('company')['country']

In [ ]:
# Add the 'country' column to monthly_returns
regression_data['country'] = regression_data['company'].map(company_country_map)

In [ ]:
print(regression_data.head())

In [ ]:
# Define high-risk countries
low_risk_countries = ['Japan', 'South Korea', 'Singapore']

In [ ]:
regression_data1 = regression_data

In [ ]:
# Create the 'risk_class' column
regression_data1['risk_class'] = np.where(regression_data['country'].isin(low_risk_countries), 1, 0)

########### REGRESSION ANALYSIS ###########

In [ ]:
# Import required libraries
import statsmodels.api as sm

In [ ]:
# Create the 'interaction_term' column
regression_data1['risk_extreme_interaction'] = regression_data1['risk_class'] * regression_data1['extreme_days']

####### MIX STUDY

In [ ]:
# Prepare the data
X = regression_data1[['extreme_days', 'risk_class', 'risk_extreme_interaction', 'market_capitalisation', 'financial_leverage']]
y = regression_data1['returns']

In [ ]:
# Remove NaN and infinite values
X = X.replace([np.inf, -np.inf], np.nan).dropna()
y = y[X.index]  # Align y with X

In [ ]:
# Make them all floats
X = X.astype(float)
y = y.astype(float)

In [ ]:
# Add a constant term to the independent variables
X = sm.add_constant(X)

In [ ]:
# Fit the regression model
model = sm.OLS(y, X).fit()

In [ ]:
# Print the summary of the regression
print(model.summary())

####### Visualisation

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(regression_data1['extreme_days'], regression_data1['returns'], color='blue', alpha=0.6)

# Add labels and title
plt.xlabel('Extreme Days')
plt.ylabel('Returns')
plt.title('Correlation between Extreme Days and Returns')

# Display the plot
plt.grid(True, linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(regression_data1['risk_extreme_interaction'], regression_data1['returns'], color='blue', alpha=0.6)

# Add labels and title
plt.xlabel('Risk Class & Extreme Days Interaction')
plt.ylabel('Returns')
plt.title('Correlation between Interaction Term and Returns')

# Display the plot
plt.grid(True, linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

####### LOW RISK STUDY

In [ ]:
# Define high-risk countries
low_risk_countries = ['Japan', 'South Korea', 'Singapore']

In [ ]:
# Create 'regression_data_low' DataFrame
regression_data_low = regression_data[regression_data['country'].isin(low_risk_countries)].copy()

In [ ]:
# Reset the index of the new DataFrame
regression_data_low.reset_index(drop=True, inplace=True)

In [ ]:
# Display the first few rows and info of the new DataFrame
print(regression_data_low.head())
print("\nDataFrame Info:")
print(regression_data_low.info())

In [ ]:
X1 = regression_data_low[['extreme_days', 'financial_leverage', 'market_capitalisation']]
y1 = regression_data_low['returns']

In [ ]:
# Remove NaN and infinite values
X1 = X1.replace([np.inf, -np.inf], np.nan).dropna()
y1 = y1[X1.index]  # Align y with X

In [ ]:
# Make them all floats
X1 = X1.astype(float)
y1 = y1.astype(float)

In [ ]:
# Add a constant term to the independent variables
X1 = sm.add_constant(X1)

In [ ]:
# Fit the regression model
low_model = sm.OLS(y1, X1).fit()

In [ ]:
# Print the summary of the regression
print(low_model.summary())

####### Visualisation

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(regression_data_low['extreme_days'], regression_data_low['returns'], color='blue', alpha=0.6)

# Add labels and title
plt.xlabel('Extreme Days')
plt.ylabel('Returns')
plt.title('Correlation between Extreme Days and Returns')

# Display the plot
plt.grid(True, linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

####### HIGH RISK STUDY

In [ ]:
# Create 'regression_data_high' DataFrame
regression_data_high = regression_data[~regression_data['country'].isin(low_risk_countries)].copy()

In [ ]:
# Reset the index of the new DataFrame
regression_data_high.reset_index(drop=True, inplace=True)

In [ ]:
# Display the first few rows and info of the new DataFrame
print(regression_data_high.head())
print("\nDataFrame Info:")
print(regression_data_high.info())

In [ ]:
X2 = regression_data_high[['extreme_days', 'financial_leverage', 'market_capitalisation']]
y2 = regression_data_high['returns']

In [ ]:
# Remove NaN and infinite values
X2 = X2.replace([np.inf, -np.inf], np.nan).dropna()
y2 = y2[X2.index]  # Align y with X

In [ ]:
# Make them all floats
X2 = X2.astype(float)
y2 = y2.astype(float)

In [ ]:
# Add a constant term to the independent variables
X2 = sm.add_constant(X2)

In [ ]:
# Fit the regression model
high_model = sm.OLS(y2, X2).fit()

In [ ]:
# Print the summary of the regression
print(high_model.summary())

####### Visualisation

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(regression_data_high['extreme_days'], regression_data_high['returns'], color='blue', alpha=0.6)

# Add labels and title
plt.xlabel('Extreme Days')
plt.ylabel('Returns')
plt.title('Correlation between Extreme Days and Returns')

# Display the plot
plt.grid(True, linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()